<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Art Platform</title>
	<meta name="description" content="Platform for artists">
	<meta name="author" content="Evgeniy Ivashin, Vyacheslav Racin, Kristian Visockiy">

	<!-- Icons -->
	<script src="https://kit.fontawesome.com/e659413bc5.js" crossorigin="anonymous"></script>

	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
	<!-- BootStrap and CSS -->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link rel="stylesheet" href="src/bootstrap.css">
	<link rel="stylesheet" href="src/style.css">

	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</head>

<body>
	<header>
		<div class="px-5 py-2 w-100">
			<a href="index.html" style="text-decoration:none;color:black;">
				<h1 class="px-5">ART PLATFORM</h1>
			</a>
		</div>
	</header>
	<main>
		<div class="container text-center">
			<div class="row py-2">
				<div class="col"></div>
				<div class="col">
					<!-- Pills navs -->
					<div class="container bg-body rounded-2">
						<!-- Pills navs -->
						<ul class="nav nav-pills nav-justified mb-3 mt-5 pt-4" id="ex1" role="tablist">
							<li class="nav-item" role="presentation">
								<a class="nav-link active" id="tab-login" data-bs-toggle="pill" href="#pills-login"
									role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" id="tab-register" data-bs-toggle="pill" href="#pills-register"
									role="tab" aria-controls="pills-register" aria-selected="false">Register</a>
							</li>
						</ul>
						<!-- Pills navs -->

						<!-- Pills content -->
						<div class="tab-content">
							<div class="tab-pane fade show active" id="pills-login" role="tabpanel"
								aria-labelledby="tab-login">
								<form th:action="@{loginUser}" method="post" th:object="${user}" form
									class="needs-valitation">
									<!-- Email input -->
									<div class="form-outline mb-4">
										<input type="email" id="loginName" class="form-control" th:field="*{email}" />
										<label class="form-label" for="loginName">Email or username</label>
									</div>
									<!-- Password input -->
									<div class="form-outline mb-4">
										<input type="password" id="loginPassword" class="form-control"
											th:field="*{password}" />
										<label class="form-label" for="loginPassword">Password</label>
									</div>
									<!-- Submit button -->
									<button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
								</form>
							</div>
							<div class="tab-pane fade" id="pills-register" role="tabpanel"
								aria-labelledby="tab-register">
								<form th:action="@{registerUser}" method="post" th:object="${user}">

									<!-- Name input -->

									<!--
                                    <div class="form-outline mb-4">
                                        <input type="text" id="registerName" class="form-control" />
                                        <label class="form-label" for="registerName">Name</label>
                                    </div>

                                    -->

									<!-- Username input -->
									<div class="form-outline mb-4">
										<input id="registerUsername" type="text" class="form-control"
											th:field="*{username}" />
										<label class="form-label" for="username">Username</label>
									</div>

									<!-- Email input -->
									<div class="form-outline mb-4">
										<input id="registerEmail" type="email" class="form-control"
											th:field="*{email}" />
										<label class="form-label" for="email">Email</label>
									</div>

									<div class="form-outline mb-4">
										<input type="text" id="gender" class="form-control" th:field="*{gender}" />
										<label class="form-label" for="gender">Gender</label>
									</div>

									<!-- Password input -->
									<div class="form-outline mb-4">
										<input type="password" id="registerPassword" class="form-control"
											th:field="*{password}" />
										<label class="form-label" for="password">Password</label>
									</div>


									<!-- Repeat Password input -->
									<!--
                                    <div class="form-outline mb-4">
                                        <input type="password" id="registerRepeatPassword" class="form-control" />
                                        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                                    </div>
                                    -->

									<!-- Submit button -->
									<button type="submit" class="btn btn-primary btn-block mb-3">Sign Up</button>
								</form>
							</div>
						</div>
					</div>
						<!-- Pills content -->
					</div>
					<div class="col"></div>
				</div>

			</div>
	</main>
	<footer>
	</footer>
	<!-- BootStrap JS and Popper for dropdowns, tooltips and dropovers -->
	<script src="src/bootstrap.bundle.js"></script>
</body>

</html>