<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Art Platform</title>
	<meta name="description" content="Platform for artists">
	<meta name="author" content="Evgeniy Ivashin, Vyacheslav Racin, Kristian Visockiy">

	<!-- Icons -->
	<script src="https://kit.fontawesome.com/e659413bc5.js" crossorigin="anonymous"></script>

	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- BootStrap CSS -->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/profileEdit.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
	<link rel="stylesheet" href="src/bootstrap.css">
	<link rel="stylesheet" href="src/style.css">

</head>

<body>
	<header>
		<div class="px-5 py-2 w-100 border-bottom border-5 border-dark">
			<a href="index.html" style="text-decoration:none;color:black;">
				<h1 class="px-5">ART PLATFORM</h1>
			</a>
		</div>
	</header>
	<main>
		<div class="container text-center">
			<div class="row py-2">
				<div class="col-3"></div>
				<div class="col-6">
					<div class="input-group mb-3">
						<input type="text" class="form-control rounded-2" placeholder="Search for tags"
							aria-label="Searchbar" aria-describedby="basic-addon1">
						<button class="btn btn-outline-secondary" type="button" id="button-addon2">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</div>
				</div>
				<div class="col-3">
					<div class="d-flex flex-row gap-2 d-md-flex">
						<button class="btn btn-primary me-md-2 text-nowrap" style="display:none;" type="button">Sign In</button>
						<button class="btn btn-primary text-nowrap" style="display:none;" type="button">Sign Up</button>
						<p id="signedText" class="m-auto text-nowrap"> Signed in as <a id="profileLink" style="text-decoration: none;" class="text-nowrap" href="">El hombre</a></p>
						<button class="btn btn-primary text-nowrap" type="button">Logout</button>
					</div>
				</div>
			</div>
			<div class="row py-2">
				<div class="col"></div>
				<div class="col-8">
					<div class="row">
						<div class="col">
							<a class="btn btn-primary text-nowrap" href="#" role="button">Make new post</a>
						</div>
					</div>

				</div>
				<div class="col"></div>
			</div>
			<!-- PROFILE -->
			<article class="pt-2 mb-0">
				<div class="container-fluid">
					<div class="row py-2">
						<div class="col"></div>
						<div class="col-10 rounded-1 m-0 p-0 shadow p-0 mb-3 bg-body rounded">
							<form method="POST" action="">
							<div class="row p-4">
								<p class="h2">Profile</p>
									<div class="col-3 border border-1 border-opacity-25 border-dark p-0 rounded rounded-2 shadow-sm">
										<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="img-fluid">
									</div>
									
									<div class="col-auto align-self-center ">
										<div class="d-flex flex-column">
											<div class="form-group d-flex flex-row border-bottom ">
												<label for="username" class="me-5 mb-2 text-nowrap"> Username</label>
												<p id="username" class="ms-5 mb-1 w-100 text-end"> El hombre</p>
												<input name="username" style="display: none;"
													class="form-control justify-content-end m-auto align-self-end" type="text"
													id="usernameEdit" value="El hombre">
											</div>
											<div class="form-group d-flex flex-row border-bottom ">
												<label for="name" class="me-5 mb-2 text-nowrap"> Name</label>
												<p id="name" class="ms-5 mb-1 w-100 text-end"> Shamshirband</p>
												<input name="name" style="display: none;"
													class="form-control justify-content-end m-auto me-0 align-self-end" type="text"
													id="nameEdit" value="Shamshirband">
											</div>
											<div class="form-group d-flex flex-row border-bottom">
												<label for="email" class="me-5 mb-2 text-nowrap"> E-mail</label>
												<p id="email" class="ms-5 mb-1 w-100 text-end"> avocado@gmail.com</p>
												<input name="email" style="display: none;"
													class="form-control justify-content-end m-auto me-0 align-self-end" type="text"
													id="emailEdit" value="avocado@gmail.com">
											</div>
											<div class="form-group d-flex flex-row border-bottom">
												<label for="dob" class="me-5 mb-2 text-nowrap"> Date of birth</label>
												<p id="dob" class="ms-5 mb-1 w-100 text-end"> 15/02/1989</p>
												<input name="dob" style="display: none;"
													class="form-control justify-content-end m-auto  me-0 align-self-end" type="date"
													id="dobEdit" value="">
											</div>
											<div class="d-flex flex-row border-bottom ">
												<label class="me-5 mb-1 text-nowrap"> Rating</label>
												<p class="ms-5 mb-1 w-100 text-end"> 5</p>
											</div>
											<div class="d-flex flex-row border-bottom ">
												<label class="me-5 mb-1 text-nowrap"> Posts</label>
												<p class="ms-5 mb-1 w-100 text-end"> 1</p>
											</div>
										</div>
									</div>

									
							</div>
							<div class="col-4 m-auto">
								<button id="editBtn" type="button" class="btn btn-primary align-self-center m-auto"
									onclick="editProfile()">Edit profile</button>
								<button id="cancelBtn" type="reset"
									class="btn btn-primary align-self center m-auto mb-5"
									style="display:none;" onclick="cancelEdit()">Cancel</button>
								<button id="saveBtn" type="submit"
									class="btn btn-primary align-self center m-auto"
									style="display:none;">Save</button>
							</div>
						</form>
						<p class="h2 border-top border-3">User posts</p>
						</div>
						<div class="col"></div>
					</div>
				</div>
			</article>

			<!-- POST -->
			<article class="">
				<div class="container-fluid">
					<div class="row py-1">
						<div class="col"></div>
						<div
							class="col-10 rounded-1 m-0 p-0 shadow p-0 mb-5 bg-body rounded">
							<div class="container-fluid m-0 p-0">
								<div class="d-flex flex-column">
									<h2 class="mt-3">Colossus</h2>
									<div class="d-flex flex-row py-1">
										<div class="ps-3 mx-0">
											<p class="text-nowrap">Posted by <a id="profileLink" style="text-decoration: none;"  class="text-nowrap" href="">El hombre</a></p>
										</div>
										<div class="pe-3 mx-1 mx-auto flex-fill">
											<p class="text-nowrap text-end">2 hours ago</p>
										</div>
									</div>
									<p class="h-auto">I really like the game Shadow of the Colossus. Check out the
										result
										of my love for this game! Took me about 90 years to make.
									</p>
									<img class="img-fluid border border-dark border-5 rounded-1 m-2"
										src="https://external-preview.redd.it/UI0e4TgMz9m2UIu-qFEtUANCj8zo5dEgwyNuygXr_b4.jpg?auto=webp&s=d842f2d49b44f0639bd1d9de67acbdfe88ed919d">
									<div class="container-fluid border-top border-5 border-dark p-2">
										<div class="d-flex flex-row justify-content-between align-items-center">
											<div class="col align-content-start">
												<p class="h4">4 comments</p>
											</div>
											<div class="col">
												<a class="btn btn-primary text-nowrap p-0 m-auto p-2" href="#" role="button">
													<p class="m-auto h4">Open full post</p>
												</a>
											</div>
											<div class="col d-flex flex-row align-items-center">
												<p class="h4 me-2">5</p>
												<button id="upvoteBtn" class="btn" type="submit">
													<i class="fa-solid fa-caret-up fa-3x mx-1" ></i>
												</button>
												<button id="downvoteBtn" class="btn" type="submit">
													<i class="fa-solid fa-caret-down fa-3x mx-1"></i>
												</button>
												<p class="h4 ms-2">0</p>
											</div>
										</div>
									</div>
									<div class="d-flex flex-row flex-wrap m-1 h-auto p-0 w-auto">
										<div class="col-auto">
											<a class="btn btn-secondary text-nowrap me-1 flex-shrink-1 m-0 p-1" href="#"
												role="button">#coloss
											</a>
										</div>
										<div class="col-auto">
											<a class="btn btn-secondary text-nowrap me-1 flex-shrink-1 m-0 p-1" href="#"
												role="button">#digital
											</a>
										</div>
										<div class="col-auto">
											<a class="btn btn-secondary text-nowrap me-1 flex-shrink-1 m-0 p-1" href="#"
												role="button">#videogame
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col"></div>
					</div>
				</div>
			</article>
		</div>
	</main>
	<footer>
	</footer>
	<!-- BootStrap JS and Popper for dropdowns, tooltips and dropovers -->
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
	<script type="text/javascript" th:src="@{/js/profileEdit.js}"></script>
	<script src="src/bootstrap.bundle.js"></script>
	<script src="src/profileEdit.js"></script>
</body>

</html>