<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">

    <input type="text" name="email" required #email="ngModel" email placeholder="Enter Email" ngModel>
    <br><span *ngIf="email.invalid && email.touched" style="color:red">Please enter valid input</span><br>

    <input type="password" name="password" minlength="3" pattern="[a-zA-Z]+$" required #password="ngModel" placeholder="Enter Pass" ngModel>
    <br><span *ngIf="password.invalid && password.touched" style="color:red">Please enter valid input</span><br>

    <button [disabled]="loginForm.invalid">Login</button>
</form>

