<header  class="w-100 sticky-top">
    <div class="px-5 py-2 w-100 row align-items-center">
        <div class="col-3">
            <a href="" style="text-decoration:none;color:black;">
				<h1 class="px-5 h1">ART PLATFORM</h1>
			</a>
        </div>
        <div class="col-6">
            <div class="form-header">
                <div class="input-group mb-3r m-auto">
                    <input #searchPostInput type="text"
                    class="form-control rounded-2 au-input au-input-x"
                    aria-label="Searchbar" 
                    aria-describedby="basic-addon1"
                    placeholder="Search for posts"
                    (keyup.enter) = "searchForPosts(searchPostInput.value)" />
                    <button (click)="searchForPosts(searchPostInput.value)" class="btn btn-outline-secondary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3 ">
                <div class="d-flex flex-row justify-content-end gap-2 align-items-center">
                    <div *ngIf="!isUserLoggedIn" class="d-flex flex-row">
                        <button class="btn btn-primary btn-block me-2" routerLink="/login" routerLinkActive="active-link" >
                            <p class="m-auto">Login</p></button> 
                        <button class="btn btn-primary btn-block" routerLink="/registration" routerLinkActive="active-link">
                            <p class="m-auto">Register</p></button> 
                    </div>
                    <div *ngIf="isUserLoggedIn" class="d-flex flex-row">
                        <button class="btn btn-primary btn-block me-3" >Sign Out</button>
                        <p id="signedText" class="text-nowrap my-0 align-self-center">Signed in as 
                            <a id="profileLink" style="text-decoration: none;" class="my-0" href=""> {{ currentUser.username }} </a>
                        </p>
                    </div>

                </div>
        </div>
    </div>
  </header>
