body{
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://www.wallpaperbetter.com/wallpaper/884/236/937/whales-amp-ships-fantasy-art-hd-1080P-wallpaper.jpg");
}
header{
    background-color: #30332E;
}
.btn.btn-primary, .btn-outline-secondary{
    background-color: #62BBC1;
}

.btn:active{
    background-color: #EF476F !important;
}
.btn:hover{
    background-color: #EF476F !important;
}
#downvoteBtn,#upvoteBtn{
    background-color: #FFFFFF;
}
h1, #signedText{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFBFC;
}
p{
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.bg-body{
    background-color: #FFFBFC !important;
}

#profileLink, .nav-item .nav-link{
    color: #EF476F;
}
.nav-item .nav-link.active{
    background-color: #EF476F;
}